{% extends  'base.html' %} 

{%block title %}
About
{%endblock %}
{%block content %}
<h1  class="text-center fw-bold mt-3 mb-5" style="color:#fcc200 "> ⚕️Welcome to NovaCare⚕️</h1>

<h4 class="m-4">⚕️NovaCare⚕️ Hospital, we are dedicated to providing exceptional healthcare services to our patients. With a team of highly skilled doctors, nurses, and staff, we strive to deliver comprehensive medical care in a compassionate and professional environment.</h4>
<h2 class="fw-bold">Our Mission</h2>
<h4 class="m-4" >Our mission is to improve the health and well-being of our community by offering top-quality healthcare services. We aim to deliver patient-centered care, focusing on individual needs and promoting a holistic approach to health.</h4>
<h2 class="fw-bold">State-of-the-Art Facilities</h2>
<h4 class="m-4" >Equipped with state-of-the-art facilities and advanced medical technology, XYZ Hospital ensures that patients receive the highest level of care. From our modern diagnostic equipment to our well-equipped operating rooms, we prioritize patient safety and accurate diagnoses.</h4>
<h2 class="fw-bold">Expert Medical Team</h2>
<h4 class="m-4" >Our team consists of experienced and dedicated healthcare professionals who are passionate about delivering excellent care. Our doctors are specialists in their respective fields, ensuring that patients receive expert medical advice and treatment.</h4>
<h2 class="fw-bold">Comprehensive Services</h2>
<h4 class="m-4" >We offer a wide range of medical services to cater to the diverse needs of our patients. From routine check-ups and preventive care to specialized treatments and surgeries, XYZ Hospital is committed to meeting the healthcare requirements of individuals and families.</h4>


{%endblock %}   