{% extends  'base.html' %} 

{%block title %}
home
{%endblock %}
{%block content %}
{%load static %}
<div   style="display: flex; justify-content: center;">
<img class="w-50  img-fluid my-5" src="https://t3.ftcdn.net/jpg/05/71/30/74/240_F_571307420_UnokRFfpQRhwlEqCcBkbcIaNdUTrzJhu.jpg" >
</div>
<div class="bghome container-fluid d-flix">
   <div class=" fw-bold " style=" margin-top: 160px; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:60px;color:#006442; "  >We are <br>Committed <br>to Your <br>Health </div>

   <div class="d-flex justify-content-end ">
    <img class="imghomebg  ms-5 img-fluid " src="https://img.freepik.com/free-photo/happy-doctor-holding-clipboard-with-patients_1098-2176.jpg?w=996&t=st=1686505943~exp=1686506543~hmac=1974686c81e5e25b8d2e5717abce75e33797520de11578a7e0bbb0982ced3441" > 
   </div>
   </div>
   
{%endblock %}   